html,body{
background-image: url('../img/bg.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.container{
height: 100%;
align-content: center;
}
.card{
margin-top: auto;
margin-bottom: auto;
width: 650px;
background-color: rgba(0,0,0,0.5) !important;
}
.card-header h3{
color: white;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
.count-down-btn{
color: black;
background-color: #17a2b8;
width: 100%;
}
.count-down-btn:hover{
color: black;
background-color: white;
}

.eventItemDateTime{
    background-color: white;
    padding: .375rem .75rem;
    border: 2px solid #17a2b8;
    border-radius: .25rem;
}
.event-title{
    padding: .375rem 0rem;
}