html,body{
background-image: url('../img/bg.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.container{
height: 100%;
align-content: center;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 450px;
background-color: rgba(0,0,0,0.5) !important;
}
.card-header h3{
color: white;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
.count-down-btn{
color: black;
background-color: #FFC312;
width: 100%;
}
.count-down-btn:hover{
color: black;
background-color: white;
}
.card-footer{
    color: #fff;
    text-align: center;
    font-size: larger;
    font-weight: 400;
}